* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
main {
    margin: auto;
    width:60%;
    padding: 0 35px;
    display: flex;
    flex-direction: column;
}
section {
    text-align: center;
}
h1, p, button {
    margin: 20px 0;
}
